<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<springProperty scope="context" name="logging.path" source="logging.path"/>
	<!--	控制台输出-->


	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>trace</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${logging.path}/%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<maxFileSize>1mb</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<springProfile name="test">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger{10}] - %msg%n</Pattern>
			</encoder>
		</appender>
		<logger name="com.hkd" level="info" additivity="false">
			<appender-ref ref="FILE"/>
		</logger>

		<root level="debug">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile>

	<springProfile name="dev">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger{10}] - %msg%n</Pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>info</level>
			</filter>
		</appender>
		<logger name="com.hkd" level="debug" additivity="false">
			<appender-ref ref="FILE"/>
		</logger>
		<root level="debug">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile>


</configuration>